<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #f="ngForm" (submit)="onSubmit(f)">
                  <p class="text-muted">{{sDic.getText('common-login')}}</p>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [placeholder]="sDic.getText('common-user')"
                      autocomplete="username" required name="login" #login="ngModel" ngModel
                      [ngClass]="{'is-invalid':f.submitted && login?.invalid}">

                  </div>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" [placeholder]="sDic.getText('common-password')"
                      autocomplete="current-password" required name="senha" #senha="ngModel" ngModel
                      [ngClass]="{'is-invalid':f.submitted && senha?.invalid}">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-primary px-4">{{sDic.getText('common-login')}}</button>
                    </div>
                    <div class="col-6 text-right" *ngIf="false">
                      <button type="button" class="btn btn-link px-0">
                        {{sDic.getText('login-forgot-password')}}
                      </button>
                    </div>
                  </div>
                  <div class="row my-2">
                    <div class="col-12 error-msg">
                      <div *ngIf="errorMessage" class="alert alert-danger" [@opacity]>
                        {{errorMessage}}
                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%" *ngIf="false">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>