@import "../../../scss/variables";

.employees {
  ::ng-deep .pagination-sm {
    justify-content: center;
  }
  .table-users {
    .icon-check-super,
    .icon-check-published {
      color: $green;
    }
    .actions {
      min-width: 70px;
      .icon-remove {
        color: $red;
      }
      .icon-edit {
        color: $blue;
      }
    }
  }
  .filter-list {
    & > * {
      margin-bottom: 0.25em;
    }
  }
  .icon-add {
    color: $green;
  }
}
.close {
  & > span {
    font-size: 40px;
  }
}
.test {
  background: red;
}
