<div class="row employees">
	<div class="col-12 col-md-9">
		<div class="row">
			<div class="col-7">
				<h3 class="">
					{{sDic.getText('common-employees')}}
				</h3>

			</div>
			<div class="col icon-add  d-flex align-items-center justify-content-end" *ngIf="users">
				<span class="pointer" routerLink="add">
					{{sDic.getText('common-add')}}
					<i class="fa fa-plus fa-lg ml-2"></i>
				</span>
			</div>
			<div class="col-12">
				<h4 class="font-textralight" *ngIf="users === undefined">
					{{sDic.getText('common-data-not-loaded')}}
				</h4>
			</div>
		</div>

	</div>

	<div class="col-12" *ngIf="users">
		<div class="row flex-row-reverse">
			<div class="col-12 col-md mb-3">
				<div class="row filter-list ">
					<div class="col-12">
						<h4>
							{{sDic.getText('common-filters')}}
						</h4>
					</div>
					<div class="col-12">

						<div class="row">
							<div class="col-3 d-flex align-items-center">
								{{sDic.getText('common-name')}}
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="{{sDic.getText('common-name')}}"
									[(ngModel)]="modelFilters.nome" />
							</div>
						</div>

					</div>
					<div class="col-12">

						<div class="row">
							<div class="col-3 d-flex align-items-center">
								{{sDic.getText('common-email')}}
							</div>
							<div class="col">
								<input type="text" class="form-control" placeholder="{{sDic.getText('common-email')}}"
									[(ngModel)]="modelFilters.email" />
							</div>
						</div>

					</div>
					<div class="col-12">
						<div class="row">
							<div class="col-3 d-flex align-items-center">
								{{sDic.getText('common-status')}}
							</div>
							<div class="col">
								<select class="form-control" [(ngModel)]="modelFilters.status">
									<option [ngValue]="null">{{sDic.getText('common-none')}}</option>
									<option [ngValue]="1">{{sDic.getText('common-active')}}</option>
									<option [ngValue]="0">{{sDic.getText('common-inactive')}}</option>
								</select>
							</div>
						</div>
					</div>
					<!-- <div class="col-12">
                        <div class="row">
                            <div class="col-3 d-flex align-items-center">
                                {{sDic.getText('common-state')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.state"
                                    (ngModelChange)="doAllFilters()">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="state?.id" *ngFor="let state of usersExtra?.estados">
                                        {{state?.nome}}
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 d-flex align-items-center">
                                {{sDic.getText('common-city')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.city"
                                    (ngModelChange)="doAllFilters()">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="city?.id" *ngFor="let city of cities">{{city?.nome}}
                                    </option>

                                </select>
                            </div>
                        </div>
                    </div> -->
					<div class="col-12">
						<div class="row">
							<div class="col-3 d-flex align-items-center">
								{{sDic.getText('common-registration-since')}}
							</div>
							<div class="col">
								<input type="text" placeholder="{{sDic.getText('common-registration-since')}}" class="form-control"
									bsDatepicker placement="left" [bsConfig]="bsConfig" [(ngModel)]="modelFilters.cadastro_de">
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="row">
							<div class="col-3 d-flex align-items-center">
								{{sDic.getText('common-registration-until')}}
							</div>
							<div class="col">
								<input type="text" placeholder="{{sDic.getText('common-registration-until')}}" class="form-control"
									bsDatepicker placement="left" [bsConfig]="bsConfig" [(ngModel)]="modelFilters.cadastro_ate">
							</div>
						</div>
					</div>
					<div class="col-12 text-right text-info d-flex justify-content-end align-items-center">
						<span class="pointer font-tbold" (click)="clearFilters()">{{sDic.getText('users-clear-filter')}}</span>
						<div class="btn btn-primary ml-2" (click)="doFilterApi(modelFilters)">
							{{sDic.getText('common-do-filter')}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-9">

				<table class="table table-responsive-sm table-striped table-users">
					<thead class="thead-dark">
						<tr>

							<th>{{sDic.getText('common-name')}}</th>
							<th>{{sDic.getText('common-company')}}</th>
							<th>{{sDic.getText('employees-date-inclusion')}}</th>
							<th>{{sDic.getText('common-status')}}</th>
							<th class="text-right">{{sDic.getText('common-actions')}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of users">
							<td>
								<ng-container *ngIf="user?.nome || user?.sobrenome;else noName">
									{{user?.nome}} {{user?.sobrenome}}
								</ng-container>
								<ng-template #noName>
									{{sDic.getText('common-no-name')}}
								</ng-template>
							</td>
							<td>
								{{user?.empresa}}
							</td>
							<td>
								<ng-container *ngIf="sUtils.isDate(user?.created_at); else notDate">
									{{user?.created_at | dateTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}
								</ng-container>

							</td>

							<td>
								<ng-container *ngIf="user?.status == 1; else inactive">{{sDic.getText('common-active')}}
								</ng-container>
								<ng-template #inactive>{{sDic.getText('common-inactive')}}</ng-template>
							</td>
							<td class="actions text-right">
								<i (click)="editUser(user)" class="pointer fa fa-pencil fa-lg icon-edit"></i>&nbsp;
								<i class="pointer fa fa-remove fa-lg icon-remove" (click)="deleteUser(user,modalRemoveUser)"></i>
						</tr>

					</tbody>

				</table>
				<div *ngIf="users?.length < 1" class="font-tbold">
					{{sDic.getText('common-nothing-found')}}
				</div>
				<div class="text-right"><span class="font-tbold">Total:</span> {{totalItems}}</div>



				<pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
					[(ngModel)]="currentPage" class="pagination-sm" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;"
					firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
				</pagination>
			</div>


		</div>
	</div>
</div>


<ng-template #modalRemoveUser>
	<div class="modal-header">
		<h4 class="modal-title pull-left">
			{{sDic.getText('common-you-sure')}}
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRemoveUserRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" (click)="modalRemoveUserRef.hide()">{{sDic.getText('common-back')}}</button>
		<button class="btn btn-danger" (click)="confirmRemoveUser()">{{sDic.getText('common-confirm')}}</button>
	</div>
</ng-template>