<div class="row default-list">
    <div class="col-12 col-md-9">
        <div class="row">
            <div class="col-7">
                <h3 class="">
                    {{sDic.getText('common-products')}}
                </h3>

            </div>
            <div *ngIf="data" class="col icon-add  d-flex align-items-center justify-content-end">
                <span class="pointer" routerLink="add">
                    {{sDic.getText('common-add')}}
                    <i class="fa fa-plus fa-lg ml-2"></i>
                </span>
            </div>
            <div class="col-12">
                <h4 class="font-textralight" *ngIf="data === undefined">
                    {{sDic.getText('common-data-not-loaded')}}
                </h4>
            </div>
        </div>

    </div>

    <div class="col-12" *ngIf="data">
        <div class="row flex-row-reverse">
            <div class="col-12 col-md mb-3">
                <div class="row filter-list ">
                    <div class="col-12">
                        <h4>
                            {{sDic.getText('common-filters')}}
                        </h4>
                    </div>
                    <div class="col-12">

                        <input type="text" id="filter" class="form-control" placeholder="{{sDic.getText('common-filter')}}" [(ngModel)]="modelFilters.search" (ngModelChange)="doSearch($event)" />

                    </div>
                    <!-- <div class="col-12">
                        <div class="row">
                            <div class="col-3 d-flex align-items-center">
                                {{sDic.getText('users-published')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.published"
                                    (ngModelChange)="doAllFilters()">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                                    <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-12 text-right text-info">
                        <span class="pointer font-tbold" (click)="clearFilters()">{{sDic.getText('users-clear-filter')}}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">

                <table class="table table-responsive-sm table-striped default-table">
                    <thead class="thead-dark">
                        <tr>

                            <th>{{sDic.getText('common-name')}}</th>
                            <th>{{sDic.getText('common-quantity')}}</th>
                            <th>{{sDic.getText('common-coins')}}</th>
                            <th>{{sDic.getText('common-sold')}}</th>
                            <th>{{sDic.getText('common-state')}}</th>
                            <th>{{sDic.getText('common-city')}}</th>
                            <th>{{sDic.getText('common-building')}}</th>
                            <th class="text-right">{{sDic.getText('common-actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataFilter |
                        slice:((currentPage-1)*itemsPerPage):(itemsPerPage*currentPage)">
                            <td>
                                {{item?.nome}}
                            </td>

                            <td>
                                {{ item?.quantidade
                                < 0 ? 0 : item?.quantidade }} </td>
                                    <td>
                                        {{item?.moeda}}
                                    </td>
                                    <td>
                                        {{item?.vendidos}}
                                    </td>
                                    <td>
                                        {{item?.estado}}
                                    </td>
                                    <td>
                                        {{item?.cidade}}
                                    </td>
                                    <td>
                                        {{item?.predio}}
                                    </td>
                                    <td class="actions text-right">
                                        <i (click)="editData(item)" class="pointer fa fa-pencil fa-lg icon-edit"></i>&nbsp;
                                        <i class="pointer fa fa-remove fa-lg icon-remove" (click)="deleteData(item)"></i>
                        </tr>

                    </tbody>

                </table>
                <div *ngIf="dataFilter?.length < 1" class="font-tbold">
                    {{sDic.getText('common-nothing-found')}}
                </div>
                <div class="text-right"><span class="font-tbold">Total:</span> {{data?.length}}</div>



                <pagination [boundaryLinks]="true" [totalItems]="dataFilter?.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
                </pagination>
            </div>


        </div>
    </div>
</div>