<div class="row">
    <div class="col-12">
        <h4>
            <ng-container *ngIf="idData; else noIdData">
                {{sDic.getText('company-edit')}}
            </ng-container>
            <ng-template #noIdData>
                {{sDic.getText('company-add')}}
            </ng-template>
        </h4>
        <h5 class="font-textralight" *ngIf="dataExtra === undefined">
            {{sDic.getText('common-data-not-loaded')}}
        </h5>
    </div>
    <div class="col-12" *ngIf="dataExtra !== undefined">
        <form #f="ngForm" (submit)="onSubmit(f,$event); " class="default-form">
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-name')}}</label>
                    <input type="text" class="form-control" name="nome" ngModel #nome="ngModel" required
                        [ngClass]="{'is-invalid':f.submitted && nome?.invalid}"
                        placeholder="{{sDic.getText('common-name')}}" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-published')}}</label>
                    
                    <select name="publicado" class="form-control" #publicado="ngModel" ngModel [ngModel]='1'
                        [ngClass]="{'is-invalid':f.submitted && publicdado?.invalid}">
                        <option [value]="1">{{sDic.getText('common-yes')}}</option>
                        <option [value]="0">{{sDic.getText('common-no')}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="">{{sDic.getText('company-domains')}}</label>
                    <textarea name="dominios" class="form-control" rows="5" ngModel #dominios="ngModel" [ngModel]=""
                        required [ngClass]="{'is-invalid':f.submitted && dominios?.invalid}"
                        ></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 col-12">
                    <button class="btn btn-block btn-danger" type="button" routerLink="/company">
                        {{sDic.getText('common-back')}}
                    </button>
                </div>
                <div class="form-group col-md-3 col-12">
                    <button class="btn btn-block btn-primary">
                        {{sDic.getText('common-send')}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>