<div class="row default-list">
    <div class="col-12 col-md-9">
        <div class="row">
            <div class="col-7">
                <h3 class="">
                    {{sDic.getText('common-missions')}}
                </h3>

            </div>
            <div *ngIf="data" class="col icon-add  d-flex align-items-center justify-content-end">
                <span class="pointer" routerLink="add">
                    {{sDic.getText('common-add')}}
                    <i class="fa fa-plus fa-lg ml-2"></i>
                </span>
            </div>
            <div class="col-12">
                <h4 class="font-textralight" *ngIf="data === undefined">
                    {{sDic.getText('common-data-not-loaded')}}
                </h4>
            </div>
        </div>

    </div>

    <div class="col-12" *ngIf="data">
        <div class="row flex-row-reverse">
            <div class="col-12 col-md mb-3 pl-md-0">
                <div class="row filter-list ">
                    <div class="col-12">
                        <h4>
                            {{sDic.getText('common-filters')}}
                        </h4>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-category')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.id_cat">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="item?.id_cat" *ngFor="let item of dataExtra?.categoria">
                                        {{item?.nome}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-mechanic')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.id_mecanica">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="item?.id_mecanica" *ngFor="let item of dataExtra?.mecanica">
                                        {{item?.nome}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-ods') | uppercase}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.id_ods">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.ods">
                                        {{item?.nome}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-involvement')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.id_envolvimento">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.envolvimento">
                                        {{item?.name}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-phase')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.fase">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.fase">
                                        {{item?.nome}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-name')}}
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="{{sDic.getText('common-name')}}"
                                    [(ngModel)]="modelFilters.nome" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-description')}}
                            </div>
                            <div class="col">
                                <input type="text" class="form-control"
                                    placeholder="{{sDic.getText('common-description')}}"
                                    [(ngModel)]="modelFilters.descricao" />
                            </div>
                        </div>


                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-featured')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.is_destaque">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="0"> {{sDic.getText('common-no')}}</option>
                                    <option [ngValue]="1"> {{sDic.getText('common-yes')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-gincana')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.is_gincana">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="0"> {{sDic.getText('common-no')}}</option>
                                    <option [ngValue]="1"> {{sDic.getText('common-yes')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-tags')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.tags">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.tags">
                                        {{item?.nome}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-special-title')}}
                            </div>
                            <div class="col">
                                <input type="text" class="form-control"
                                    placeholder="{{sDic.getText('mission-special-title')}}"
                                    [(ngModel)]="modelFilters.esp_titulo" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('mission-special-description')}}
                            </div>
                            <div class="col">
                                <input type="text" class="form-control"
                                    placeholder="{{sDic.getText('mission-special-description')}}"
                                    [(ngModel)]="modelFilters.esp_descricao" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('users-published')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.publicado">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                                    <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-registration-since')}}
                            </div>
                            <div class="col">
                                <input type="text" placeholder="{{sDic.getText('common-registration-since')}}"
                                    class="form-control" bsDatepicker placement="left" [bsConfig]="bsConfig"
                                    [(ngModel)]="modelFilters.publicado_em">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-registration-until')}}
                            </div>
                            <div class="col">
                                <input type="text" placeholder="{{sDic.getText('common-registration-until')}}"
                                    class="form-control" bsDatepicker placement="left" [bsConfig]="bsConfig"
                                    [(ngModel)]="modelFilters.publicado_ate">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        <span class="pointer font-tbold text-info d-flex align-items-center"
                            (click)="clearFilters()">{{sDic.getText('users-clear-filter')}}
                        </span>
                        <button class="btn btn-primary ml-2" (click)="doFilterApi(modelFilters)">
                            {{sDic.getText('common-do-filter')}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">

                <table class="table table-responsive-sm table-striped default-table">
                    <thead class="thead-dark">
                        <tr>

                            <th>{{sDic.getText('common-name')}}</th>

                            <th>{{sDic.getText('mission-ods') | uppercase}}</th>

                            <th>{{sDic.getText('mission-mechanic')}}</th>
                            <th>{{sDic.getText('mission-published-on')}}</th>
                            <th>{{sDic.getText('common-published')}}</th>
                            <th class="text-right">{{sDic.getText('common-actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataFilter |
                        slice:((currentPage-1)*itemsPerPage):(itemsPerPage*currentPage)">
                            <td>
                                {{item?.nome}}
                            </td>

                            <td>
                                {{ item?.nome_ods }}
                            </td>
                            <td>
                                {{item?.id_mecanica}}
                            </td>
                            <td>
                                <!-- {{item?.publicado_ate}} -->
                                <ng-container *ngIf="sUtils.isDate(item?.publicado_em); else notDate">
                                    {{item?.publicado_em | dateTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}
                                </ng-container>
                            </td>
                            <td>
                                <!-- {{item?.publicado}} -->
                                <i *ngIf="item?.publicado" class="fa fa-check fa-lg icon-green"></i>

                            </td>
                            <td class="actions text-right">
                                <i (click)="editData(item)" class="pointer fa fa-pencil fa-lg icon-edit"></i>&nbsp;
                                <i class="pointer fa fa-remove fa-lg icon-remove" (click)="deleteData(item)"></i>
                        </tr>

                    </tbody>

                </table>
                <div *ngIf="dataFilter?.length < 1" class="font-tbold">
                    {{sDic.getText('common-nothing-found')}}
                </div>
                <div class="text-right"><span class="font-tbold">Total:</span> {{data?.length}}</div>



                <pagination [boundaryLinks]="true" [totalItems]="dataFilter?.length" [itemsPerPage]="itemsPerPage"
                    [(ngModel)]="currentPage" class="pagination-sm" [maxSize]="5" previousText="&lsaquo;"
                    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
                </pagination>
            </div>


        </div>
    </div>
</div>