<div class="row default-list">
    <div class="col-12 col-md-9">
        <div class="row">
            <div class="col-7">
                <h3 class="">
                    {{sDic.getText('mission-real')}}
                </h3>

            </div>
            <!-- <div *ngIf="data" class="col icon-add  d-flex align-items-center justify-content-end">
                <span class="pointer" routerLink="add">
                    {{sDic.getText('common-add')}}
                    <i class="fa fa-plus fa-lg ml-2"></i>
                </span>
            </div> -->
            <div class="col-12">
                <h4 class="font-textralight" *ngIf="data === undefined">
                    {{sDic.getText('common-data-not-loaded')}}
                </h4>
            </div>
        </div>

    </div>

    <div class="col-12" *ngIf="data">
        <div class="row flex-row-reverse">
            <div class="col-12 col-md mb-3 pl-md-0">
                <div class="row filter-list ">
                    <div class="col-12">
                        <h4>
                            {{sDic.getText('common-filters')}}
                        </h4>
                    </div>

                    <!-- <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-category')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.id_cat">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="item?.id_cat" *ngFor="let item of dataExtra?.categoria">
                                        {{item?.nome}}</option>

                                </select>
                            </div>
                        </div>
                    </div> -->




                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-employee')}}
                            </div>
                            <div class="col">
                                <input type="text" class="form-control"
                                    placeholder="{{sDic.getText('common-employee')}}"
                                    [(ngModel)]="modelFilters.funcionario" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-mission')}}
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="{{sDic.getText('common-mission')}}"
                                    [(ngModel)]="modelFilters.missao" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-status')}}
                            </div>
                            <div class="col">
                                <select [(ngModel)]="modelFilters.status" class="form-control">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="0">{{sDic.getText('mission-real-rejected')}}</option>
                                    <option [ngValue]="2">{{sDic.getText('mission-real-pending')}}</option>
                                    <option [ngValue]="1">{{sDic.getText('mission-real-aproved')}}</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>




                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-registration-since')}}
                            </div>
                            <div class="col">
                                <input type="text" placeholder="{{sDic.getText('common-registration-since')}}"
                                    class="form-control" bsDatepicker placement="left" [bsConfig]="bsConfig"
                                    [(ngModel)]="modelFilters.cadastro_de">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                {{sDic.getText('common-registration-since')}}
                            </div>
                            <div class="col">
                                <input type="text" placeholder="{{sDic.getText('common-registration-until')}}"
                                    class="form-control" bsDatepicker placement="left" [bsConfig]="bsConfig"
                                    [(ngModel)]="modelFilters.cadastro_ate">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        <span class="pointer font-tbold text-info d-flex align-items-center"
                            (click)="clearFilters()">{{sDic.getText('users-clear-filter')}}
                        </span>
                        <button class="btn btn-primary ml-2" (click)="doFilterApi(modelFilters)">
                            {{sDic.getText('common-do-filter')}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">

                <table class="table table-responsive-sm table-striped default-table">
                    <thead class="thead-dark">
                        <tr>

                            <th>{{sDic.getText('common-employee')}}</th>
                            <th>{{sDic.getText('common-mission')}}</th>
                            <th>{{sDic.getText('common-category')}}</th>
                            <th>{{sDic.getText('mission-real-date-inclusion')}}</th>
                            <th>{{sDic.getText('mission-real-date-revision')}}</th>
                            <th>{{sDic.getText('common-status')}}</th>
                            <th class="text-right">{{sDic.getText('common-actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>
                                {{item?.funcionario}}
                            </td>

                            <td>
                                {{ item?.missao }}
                            </td>
                            <td>
                                {{item?.categoria}}
                            </td>
                            <td>
                                <ng-container *ngIf="sUtils.isDate(item?.dt_inc); else notDate">
                                    {{item?.dt_inc | dateTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="sUtils.isDate(item?.dt_rev); else notDate2">
                                    {{item?.dt_rev | dateTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="item?.status == 2">
                                    {{sDic.getText('mission-real-pending')}}
                                </ng-container>
                                <ng-container *ngIf="item?.status == 1">
                                    {{sDic.getText('mission-real-aproved')}}
                                </ng-container>

                                <ng-container *ngIf="item?.status == 0">
                                    {{sDic.getText('mission-real-rejected')}}
                                </ng-container>
                            </td>
                            <td class="actions text-right">
                                <i (click)="editData(item)" class="pointer fa fa-eye fa-lg icon-edit"></i>&nbsp;
                                <i class="pointer fa fa-remove fa-lg icon-remove" (click)="deleteData(item)"></i>
                        </tr>

                    </tbody>

                </table>
                <div *ngIf="data?.length < 1" class="font-tbold">
                    {{sDic.getText('common-nothing-found')}}
                </div>
                <div class="text-right"><span class="font-tbold">Total:</span> {{totalItems}}</div>



                <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                    [(ngModel)]="currentPage" class="pagination-sm" [maxSize]="5" previousText="&lsaquo;"
                    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
                </pagination>                
            </div>


        </div>
    </div>
</div>