<div class="row user">
    <div class="col-12">
        <h4>
            <ng-container *ngIf="idUser; else noIdUser">{{sDic.getText('users-edit')}}</ng-container>
            <ng-template #noIdUser>
                {{sDic.getText('users-add')}}
            </ng-template>
        </h4>
        <h5 class="font-textralight" *ngIf="usersExtra === undefined">
            {{sDic.getText('common-data-not-loaded')}}
        </h5>
    </div>
    <div class="col-12 form-wrapper" *ngIf="usersExtra !== undefined">
        <form #f="ngForm" (submit)="sendForm(f)">
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-name')}}</label>
                    <input type="text" class="form-control" placeholder="{{sDic.getText('common-name')}}" name="nome"
                        ngModel required #nome="ngModel" [ngClass]="{'is-invalid':f.submitted && nome?.invalid}">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-login')}}</label>
                    <input type="text" class="form-control" placeholder="{{sDic.getText('common-login')}}" name="login"
                        ngModel required #login="ngModel" [ngClass]="{'is-invalid':f.submitted && login?.invalid}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-password')}}</label>
                    <input type="password" class="form-control" placeholder="{{sDic.getText('common-password')}}"
                        name="senha" ngModel required #senha="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && senha?.invalid}">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('users-super-user')}}</label>
                    <select class="form-control" name="super" #super="ngModel" ngModel required>
                        <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                        <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-language')}}</label>
                    <select class="form-control" name="id_idioma" #id_idioma="ngModel" ngModel required
                        [ngClass]="{'is-invalid':f.submitted && id_idioma?.invalid}">
                        <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                        <option [ngValue]="1">{{sDic.getText('common-portuguese')}}</option>
                        <option [ngValue]="2">{{sDic.getText('common-spanish')}}</option>
                    </select>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('users-published')}}</label>
                    <select class="form-control" name="status" #status="ngModel" ngModel required>
                        <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                        <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                    </select>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-12 user-permissions">
                    <div class="row ">
                        <div class="col-12">
                            <ul class="list-group">
                                <li class="list-group-item px-1 px-md-3 d-flex justify-content-between"
                                    *ngFor="let secao of usersExtra?.secoes;let i = index" ngModelGroup="secao">
                                    <div>{{secao?.nome}}</div>
                                    <div class="d-flex justify-content-end" ngModelGroup="{{secao?.id}}">
                                        <span class="ml-2">
                                            <span>
                                                <input type="checkbox" name="include" ngModel
                                                    [ngModel]="secao?.perm_incluir == 1? true:false" />
                                            </span>
                                            <span>{{sDic.getText('common-include')}}</span>
                                        </span>

                                        <span class="ml-2">
                                            <span>
                                                <input type="checkbox" name="edit" ngModel
                                                    [ngModel]="secao?.perm_editar == 1? true:false" />
                                            </span>
                                            <span>{{sDic.getText('common-edit')}}</span>
                                        </span>

                                        <span class="ml-2">
                                            <span>
                                                <input type="checkbox" name="exclude" ngModel
                                                    [ngModel]="secao?.perm_excluir == 1? true:false" />
                                            </span>
                                            <span>{{sDic.getText('common-exclude')}}</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <!-- <div class="row">
                                <div class="col-4">
                                    {{secao?.nome}}
                                </div>
                                <div class="col d-flex justify-content-end" ngModelGroup="permission_{{secao?.id}}">
                                    <span class="ml-2">
                                        <span>
                                            <input type="checkbox" name="include" ngModel
                                                [ngModel]="secao?.perm_incluir == 1? true:false" />
                                        </span>
                                        <span>{{sDic.getText('common-include')}}</span>
                                    </span>

                                    <span class="ml-2">
                                        <span>
                                            <input type="checkbox" name="edit" ngModel
                                                [ngModel]="secao?.perm_editar == 1? true:false" />
                                        </span>
                                        <span>{{sDic.getText('common-edit')}}</span>
                                    </span>

                                    <span class="ml-2">
                                        <span>
                                            <input type="checkbox" name="exclude" ngModel
                                                [ngModel]="secao?.perm_excluir == 1? true:false" />
                                        </span>
                                        <span>{{sDic.getText('common-exclude')}}</span>
                                    </span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('users-published')}}</label>
                    <select class="form-control" name="status" #status="ngModel" ngModel required>
                        <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                        <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                    </select>
                </div> -->

            </div>
            <div class="form-row">
                <div class="form-extra">
                    <!-- <input type="text" name="json_info" ngModel hidden /> -->
                </div>
                <div class="form-group col-md-3 col-6">
                    <button class="btn btn-danger btn-block" routerLink="/users" type="button">
                        {{sDic.getText('common-back')}}
                    </button>
                </div>
                <div class="form-group col-md-3 col-6">
                    <button class="btn btn-primary btn-block">
                        {{sDic.getText('common-send')}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>