.form-wrapper {
  label {
    font-family: "Telefonica-Bold";
  }
}

.user-permissions {
  & > .row {
    // border-bottom: solid black 1px;

    & > * {
      // border: red solid 1px;
      // background-color: white;
      // background-clip: content-box;
      // box-shadow: 0px 0px 0px 2px white;
      // border-bottom: solid black 1px;
      // background: red;
    }
  }
}
