<div class="modal-header">
    <h4 class="modal-title pull-left">
        {{sDic.getText('common-you-sure')}}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="bsModalRef.hide()">{{sDic.getText('common-back')}}</button>
    <button class="btn btn-danger" (click)="confirm()">{{sDic.getText('common-confirm')}}</button>
</div>