<div class="row">
    <div class="col-12">
        <!-- <div class="ckbx-style-11">
      <input type="checkbox" id="ckbx-style-11-1">
      <label for="ckbx-style-11-1"></label>
    </div> -->

    </div>
    <div class="col-12">
        <h4>
            <ng-container *ngIf="idData; else noIdData">
                {{sDic.getText('mission-edit')}}
            </ng-container>
            <ng-template #noIdData>
                {{sDic.getText('mission-add')}}
            </ng-template>
        </h4>
        <h5 class="font-textralight" *ngIf="dataExtra === undefined">
            {{sDic.getText('common-data-not-loaded')}}
        </h5>
    </div>
    <div class="col-12" *ngIf="dataExtra !== undefined">
        <form #f="ngForm" (submit)="onSubmit(f,$event); " class="default-form">
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-name')}}</label>
                    <input type="text" class="form-control" name="nome" ngModel #nome="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && nome?.invalid}" placeholder="{{sDic.getText('common-name')}}" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-small-description')}}</label>
                    <input type="text" class="form-control" name="descricao_curta" ngModel #descricao_curta="ngModel" required [ngClass]="{'is-invalid':f.submitted && descricao_curta?.invalid}" [ngModel]="null" placeholder="{{sDic.getText('mission-small-description')}}"
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for=""> {{sDic.getText('common-description')}} </label>
                    <textarea rows="7" class="form-control" name="descricao" ngModel #descricao="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && descricao?.invalid}"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for=""> {{sDic.getText('mission-curiosity')}} </label>
                    <textarea rows="7" class="form-control" name="curiosidade" ngModel #curiosidade="ngModel" [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && curiosidade?.invalid}"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-tags') | uppercase}}</label>
                    <select class="form-control" name="tags" ngModel #tags="ngModel" [ngModel]="null">
                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                    <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.tags">{{item?.nome}}</option>
                        </select>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-published')}}</label>
                    <select class="form-control" name="publicado" ngModel #publicado="ngModel" [ngModel]="1">
                    <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                    <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                        </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-points')}}</label>
                    <input type="number" class="form-control" name="pontos" ngModel #pontos="ngModel" required [ngModel]="0" [ngClass]="{'is-invalid':f.submitted && pontos?.invalid}" (ngModelChange)="cutSize(10,pontos)" placeholder="{{sDic.getText('common-points')}}" />
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-coins')}}</label>
                    <input type="number" class="form-control" name="moeda" ngModel #moeda="ngModel" required [ngModel]="0" [ngClass]="{'is-invalid':f.submitted && moeda?.invalid}" (ngModelChange)="cutSize(10,moeda)" placeholder="{{sDic.getText('common-coins')}}" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-ods') | uppercase}}</label>
                    <select class="form-control" name="id_ods" ngModel #id_ods="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && id_ods?.invalid}">
            <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
            <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.ods">{{item?.nome}}</option>
          </select>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-involvement')}}</label>
                    <select class="form-control" name="id_envolvimento" ngModel #id_envolvimento="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && id_envolvimento?.invalid}">
            <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
            <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.envolvimento">{{item?.name}}
            </option>
          </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-beneficiary')}}</label>
                    <select class="form-control" name="id_beneficiado" ngModel #id_beneficiado="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && id_beneficiado?.invalid}">
            <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
            <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.beneficiaos">{{item?.nome}}
            </option>
          </select>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-volunteer-hours')}}</label>
                    <input type="text" class="form-control" name="horas_voluntariado" ngModel #horas_voluntariado="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && horas_voluntariado?.invalid}" mask="0999" suffix="h" placeholder="{{sDic.getText('mission-volunteer-hours')}}"
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-category')}}</label>
                    <select class="form-control" name="id_cat" ngModel #id_cat="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && id_cat?.invalid}">
            <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
            <option [ngValue]="item?.id_cat" *ngFor="let item of dataExtra?.categoria">{{item?.nome}}
            </option>
          </select>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-bonus-tipe')}}</label>
                    <select class="form-control" name="bonus_tipo" [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && bonus_tipo?.invalid}" ngModel #bonus_tipo="ngModel">
            <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
            <option value="1">Bonus 1</option>
            <option value="2">Bonus 2</option>
            <option value="3">Bonus 3</option>
            <!-- <option value="4">Bonus 4</option> -->


            <!-- <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.bonus">{{item?.nome}} </option> -->
          </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 col-12 passos" ngModelGroup="passos">
                    <label for="" class="d-flex">
            {{sDic.getText('mission-steps')}} <span class="font-tbold ml-2"
              [ngClass]="{'text-danger':(f.submitted && f?.controls?.passos?.errors?.max)}"> (Max: 5)</span>
            <div class="text-danger font-tbold ml-3"
              *ngIf="(f.submitted && f?.controls?.passos?.errors?.require_one)">
              ({{sDic.getText('common-select-one-item')}})
            </div>


          </label>
                    <ul class="list-group passos-list">
                        <li class="list-group-item d-flex align-items-center passos-list-item" *ngFor="let item of dataExtra?.passos">
                            <input class="pointer" type="checkbox" id="passo_{{item?.id}}" name="passo_{{item?.id}}" ngModel value="{{item?.id}}" [ngModel]="passo" />
                            <label class="pointer ml-2 font-tbold my-0" for="passo_{{item?.id}}" [ngClass]="{'text-danger' : (f.submitted && f?.controls?.passos?.invalid)}">{{item?.passos}}</label>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-mechanic')}}</label>
                    <select class="form-control" name="id_mecanica" ngModel #id_mecanica="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && id_mecanica?.invalid}" (change)="videoPreview=null">
            <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
            <!-- <option [ngValue]="item?.id_mecanica" *ngFor="let item of dataExtra?.categoria">{{item?.nome}}</option> -->
            <option value="1">
              {{sDic.getText('common-image')}}
            </option>
            <option value="2">
              {{sDic.getText('common-link')}}
            </option>
            <option value="3">
              {{sDic.getText('common-video')}}
            </option>
            <option value="4">
              {{sDic.getText('common-quiz')}}
            </option>
          </select>
                </div>
            </div>
            <div class="row mecanica" *ngIf="id_mecanica?.value">
                <!-- <h5 class="font-textralight">ID_MECANICA {{id_mecanica?.value}}</h5> -->
                <div class="col-12" *ngIf="id_mecanica?.value == 1" [@opacity]>
                    <!-- <div class="form-row"></div> -->
                </div>
                <div class="col-12" *ngIf="id_mecanica?.value == 2" [@opacity]>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="">URL</label>
                            <input type="text" class="form-control" name="bonus_url" ngModel #bonus_url="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && bonus_url?.invalid}" placeholder="URL" />
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="id_mecanica?.value == 3" [@opacity]>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="">{{sDic.getText('mission-video')}}</label>
                            <input type="file" class="form-control" name="bonus_url" ngModel #bonus_url="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && bonus_url?.invalid}" placeholder="{{sDic.getText('mission-video')}}" (change)="onVideoChange($event, bonus_url)"
                            />
                            <!-- <input type="text" class="form-control" name="bonus_url" ngModel #bonus_url="ngModel" required
                [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && bonus_url?.invalid}" placeholder="URL" /> -->
                            <video [src]="videoPreview" *ngIf="videoPreview" class="video-preview" controls="true" playsinline="playsinline"></video>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="id_mecanica?.value == 4" [@opacity]>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-12">
                            <label for="">{{sDic.getText('common-category')}}</label>
                            <select class="form-control" name="quiz_categoria_id" ngModel #quiz_categoria_id="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && quiz_categoria_id?.invalid}">
                <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                <option [ngValue]="item?.id" *ngFor="let item of dataExtra?.categorias_quiz">{{item?.name}}</option>
              </select>
                        </div>
                        <div class="form-group col-md-6 col-12" [@opacity]>
                            <label for="">{{sDic.getText('mission-quiz-title')}}</label>
                            <input type="text" class="form-control" name="quizzes_titulo" ngModel #quizzes_titulo="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && quizzes_titulo?.invalid}" placeholder="{{sDic.getText('mission-quiz-title')}}" />
                        </div>
                    </div>
                    <div class="row" [@opacity]>
                        <div class="col-12">
                            <div class="form-row">
                                <div class="form-group col-md-12 col-12">
                                    <label for="">{{sDic.getText('common-description')}}</label>
                                    <textarea rows="7" class="form-control" name="quizzes_description" ngModel #quizzes_description="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && quizzes_description?.invalid}" placeholder="{{sDic.getText('common-description')}}"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-12">
                                    <label for="">{{sDic.getText('mission-quiz-number-questions')}}</label>
                                    <input type="number" class="form-control" name="quizzes_number_of_questions" #quizzes_number_of_questions="ngModel" [ngClass]="{'is-invalid':f.submitted && quizzes_number_of_questions?.invalid}" placeholder="{{sDic.getText('mission-quiz-number-questions')}}"
                                        (ngModelChange)="cutSize(5,quizzes_number_of_questions)" ngModel [ngModel]="1" required [ngClass]="{'is-invalid':f.submitted && quizzes_number_of_questions?.invalid}" min="1" />

                                    <!-- quizzes_number_of_questions -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 quiz-perguntas">
                            <div class="row" ngModelGroup="perguntas" #tmp="ngModelGroup">
                                <input type="text" name="totQuestion" #totQuestion="ngModel" ngModel [ngModel]="1" hidden />
                                <div class="col-12 mb-3 quiz-pergunta-item" ngModelGroup="pergunta_{{i}}" *ngFor="let perg of ' '.repeat(totQuestion?.value).split('');let i = index" [@opacity]>
                                    <div class="form-row pt-2">
                                        <div class="form-group col-md-6 col-12">
                                            <label for="" class="d-flex align-items-center justify-content-between">
                        <span class="font-tbold">{{sDic.getText('common-question')}} {{(i+1)}}</span>
                        <div class="input-group w-50">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <!-- @ -->
                              <i class="fa fa-usd fa-lg"></i>
                            </div>
                          </div>
                          <input type="number" class="form-control" placeholder="{{sDic.getText('common-points')}}"
                            name="pontos" ngModel #pontos="ngModel" required [ngModel]="0"
                            (ngModelChange)="cutSize(10,pontos)"
                            [ngClass]="{'is-invalid':f.submitted && pontos?.invalid}" />
                        </div>
                      </label>
                                            <input type="text" class="form-control" name="pergunta" ngModel #pergunta="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && pergunta?.invalid}" placeholder="{{sDic.getText('common-question')}}" />
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label for="" class="d-flex align-items-center justify-content-between">{{sDic.getText('mission-question-descripion')}}
                        {{(i+1)}}
                        <input type="text" class="form-control same-size" />
                      </label>
                                            <input type="text" class="form-control" name="desc_pergunta" ngModel #desc_pergunta="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && desc_pergunta?.invalid}" placeholder="{{sDic.getText('mission-question-descripion')}}" />
                                        </div>
                                    </div>
                                    <input type="text" name="totAnswer" #totAnswer="ngModel" ngModel [ngModel]="3" hidden />
                                    <div class="form-row" ngModelGroup="respostas">
                                        <!-- <input type="text" name="tot" #tot="ngModel" ngModel [ngModel]="3" hidden /> -->

                                        <div class="form-group col-md-6 col-12" *ngFor="let item of ' '.repeat(totAnswer?.control?.value).split(''); let idx = index" [@opacity]>

                                            <label for="" class="font-tbold d-flex align-items-center justify-content-between" [ngClass]="{'text-success':idx == 0, 'text-danger':idx != 0}">
                        <!-- {{idx == 0? sDic.getText('mission-right-answer') : sDic.getText('mission-wrong-answer') + ' ' +idx}} -->
                        {{idx == 0 ?sDic.getText('mission-right-answer') : sDic.getText('mission-wrong-answer')}}

                      </label>
                                            <input type="text" class="form-control" name="resposta_{{idx}}" ngModel #resposta="ngModel" required [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && resposta?.invalid}" [placeholder]="sDic.getText('common-answer')+' '+(idx+1)" />
                                            <div class="d-flex justify-content-end pt-2">
                                                <!-- <span class="font-tbold d-flex align-items-center check-right" [ngClass]="{'text-success':correct?.value, 'text-danger':!correct?.value}">
                          {{sDic.getText('mission-right-answer')}} ?
                          <div class="ml-2 ckbx-style-11">
                            <input type="checkbox" id="ckbx-style-{{i}}-{{idx}}" name="correct_{{idx}}" ngModel #correct="ngModel"
                            [ngModel]="idx==0?true:false" hidden>
                            <label for="ckbx-style-{{i}}-{{idx}}" class="mb-0"></label>
                          </div>

                        </span> -->
                                            </div>
                                        </div>

                                        <!-- <div class="form-group col-12 d-flex justify-content-end">
                                            <button class="btn btn-danger" type="button" (click)="removeAnswer(totAnswer)" *ngIf="totAnswer?.value > 2">
                        {{sDic.getText('mission-remove-answer')}}
                      </button>
                                            <button class="btn btn-success ml-2" type="button" (click)="addAnswer(totAnswer)">
                        {{sDic.getText('mission-add-answer')}}
                      </button>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-row">
                                        <div class="form-group col-12 d-flex justify-content-start">
                                            <button class="btn btn-primary mr-2" type="button" (click)="addQuestion(totQuestion)">
                        {{sDic.getText('mission-add-question')}}
                      </button>
                                            <button class="btn btn-danger" type="button" (click)="removeQuestion(totQuestion)" *ngIf="totQuestion?.value > 1">
                        {{sDic.getText('mission-remove-question')}}
                      </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-3 col-12">
                    <button class="btn btn-block btn-danger" type="button" routerLink="/missions">
            {{sDic.getText('common-back')}}
          </button>
                </div>
                <div class="form-group col-md-3 col-12">
                    <button class="btn btn-block btn-primary">
            {{sDic.getText('common-send')}}
          </button>
                </div>
            </div>
        </form>
    </div>
</div>