@import "../../../../scss/extends";
.passos {
  .passos-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    .passos-list-item {
      @extend %noselect;
      @media (max-width: 767px) {
        flex: 1 0 100%;
      }
      @media (min-width: 768px) {
        flex: 1 0 50%;
      }
      & > input[type="checkbox"] {
        transform: scale(1.4);
      }
    }
  }
}
.quiz-pergunta-item {
  //   border: solid red 1px;
  //   border-radius: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 9.5px,
    rgba(255, 255, 255, 1) 9.5px,
    rgba(255, 255, 255, 1) calc(100% - 9.5px),
    rgba(255, 255, 255, 0) calc(100% - 9.5px)
  );
}

.same-size {
  width: 0% !important;
  opacity: 0 !important;
}
.video-preview {
  margin-top: 10px;
  @media (max-width: 767px) {
    max-width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 50%;
  }
}
.check-right {
  input[type="checkbox"] {
    transform: scale(1.4);
  }
}
