<ngx-spinner bdOpacity=1 bdColor="rgba(51,51,51,1)" size="large" color="#fff" type="ball-circus"
  [fullScreen]="true">
  <p style="color: white"> {{sDic.getText('common-loading')}}... </p>
</ngx-spinner>
<ngx-spinner name="spinner-extra" bdOpacity=1 bdColor="rgba(51,51,51,1)" size="large" color="#fff" type="ball-circus"
  [fullScreen]="true">
  <p style="color: white"> {{sDic.getText('common-loading')}}... </p>
</ngx-spinner>
<router-outlet></router-outlet>