@import "../../../scss/variables";
.users {
  ::ng-deep .pagination-sm {
    justify-content: center;
  }
  .table-users {
    .icon-check-super,
    .icon-check-published {
      color: rgb(31, 184, 31);
    }
    .actions {
      min-width: 70px;
      .icon-remove {
        color: rgb(212, 40, 40);
      }
      .icon-edit {
        color: rgb(29, 113, 168);
      }
    }
  }
  .filter-list {
    & > * {
      margin-bottom: 0.25em;
    }
  }
  .icon-add {
    color: $green;
  }
}
