<div class="row users">
    <div class="col-12 col-md-9">
        <div class="row">
            <div class="col-7">
                <h3>
                    {{sDic.getText('common-users')}}
                </h3>
                <!-- <div *ngIf="users === undefined">
                    {{sDic.getText('common-data-not-loaded')}}
                </div> -->
            </div>
            <div class="col icon-add  d-flex align-items-center justify-content-end" *ngIf="users">

                <span class="pointer" routerLink="add">
                    {{sDic.getText('common-add')}}
                    <i class="fa fa-plus fa-lg ml-2"></i>
                </span>
            </div>
            <div class="col-12">
                <h4 class="font-textralight" *ngIf="users === undefined">
                    {{sDic.getText('common-data-not-loaded')}}
                </h4>
            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="users">
        <div class="row flex-md-row flex-column-reverse">
            <div class="col-12 col-md-9">

                <table class="table table-responsive-sm table-striped table-users">
                    <thead class="thead-dark">
                        <tr>
                            <th>{{sDic.getText('common-login')}}</th>
                            <th>{{sDic.getText('common-name')}}</th>
                            <th>{{sDic.getText('users-super-user')}}</th>
                            <th>{{sDic.getText('users-published')}}</th>
                            <th class="text-right">{{sDic.getText('common-actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usersFilter |
                                    slice:((currentPage-1)*itemsPerPage):(itemsPerPage*currentPage)">
                            <td>
                                {{user?.login}}
                            </td>
                            <td>
                                <ng-container *ngIf="user?.nome || user?.sobrenome;else noName">
                                    {{user?.nome}} {{user?.sobrenome}}
                                </ng-container>
                                <ng-template #noName>
                                    {{sDic.getText('common-no-name')}}
                                </ng-template>
                            </td>
                            <td>
                                <i *ngIf="user?.super" class="fa fa-check fa-lg icon-check-super"></i>
                            </td>
                            <td>
                                <i *ngIf="user?.status" class="fa fa-check fa-lg icon-check-published"></i>
                            </td>
                            <td class="actions text-right">
                                <i (click)="editUser(user)" class="pointer fa fa-pencil fa-lg icon-edit"></i>&nbsp;
                                <i (click)="deleteUser(user,modalRemoveUser)"
                                    class="pointer fa fa-remove fa-lg icon-remove"></i>
                        </tr>

                    </tbody>

                </table>
                <div *ngIf="usersFilter?.length < 1" class="font-tbold">
                    {{sDic.getText('common-nothing-found')}}
                </div>
                <div class="text-right"><span class="font-tbold">Total:</span> {{users?.length}}</div>



                <pagination [boundaryLinks]="true" [totalItems]="usersFilter?.length" [itemsPerPage]="itemsPerPage"
                    [(ngModel)]="currentPage" class="pagination-sm" [maxSize]="5" previousText="&lsaquo;"
                    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                </pagination>
            </div>
            <div class="col-12 col-md mb-3">
                <div class="row filter-list ">
                    <div class="col-12">
                        <h4>
                            {{sDic.getText('common-filters')}}
                        </h4>
                    </div>
                    <div class="col-12">
                        <input type="text" id="filter" class="form-control"
                            placeholder="{{sDic.getText('common-filter')}}" [(ngModel)]="modelFilters.search"
                            (ngModelChange)="doSearch($event)" />
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 d-flex align-items-center">
                                {{sDic.getText('users-published')}}
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="modelFilters.published"
                                    (ngModelChange)="doAllFilters()">
                                    <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                    <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                                    <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right text-info">
                        <span class="pointer" (click)="clearFilters()">{{sDic.getText('users-clear-filter')}}</span>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>





<ng-template #modalRemoveUser>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            {{sDic.getText('common-you-sure')}}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRemoveUserRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modalRemoveUserRef.hide()">{{sDic.getText('common-back')}}</button>
        <button class="btn btn-danger" (click)="confirmRemoveUser()">{{sDic.getText('common-confirm')}}</button>
    </div>
</ng-template>