<div class="row">
    <div class="col-12">
        <h4>
            <ng-container *ngIf="idData; else noIdData">
                {{sDic.getText('product-edit')}}
            </ng-container>
            <ng-template #noIdData>
                {{sDic.getText('product-add')}}
            </ng-template>
        </h4>
        <h5 class="font-textralight" *ngIf="dataExtra === undefined">
            {{sDic.getText('common-data-not-loaded')}}
        </h5>
    </div>
    <div class="col-12" *ngIf="dataExtra !== undefined">
        <form #f="ngForm" (submit)="onSubmit(f,$event); " class="default-form">
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-name')}}</label>
                    <input type="text" class="form-control" placeholder="{{sDic.getText('common-name')}}" name="nome"
                        ngModel required #nome="ngModel" [ngClass]="{'is-invalid':f.submitted && nome?.invalid}">
                </div>
                <div class="form-group col-12 col-md-3">
                    <label for="">{{sDic.getText('common-quantity')}}</label>
                    <input type="number" class="form-control" placeholder="{{sDic.getText('common-quantity')}}"
                        name="quantidade" ngModel required #quantidade="ngModel" [ngModel]='0'
                        [ngClass]="{'is-invalid':f.submitted && quantidade?.invalid}" maxlength="10"
                        (ngModelChange)="cutSize(10,quantidade)">
                </div>
                <div class="form-group col-12 col-md-3">
                    <label for="">{{sDic.getText('common-coins')}}</label>
                    <input type="number" class="form-control" placeholder="{{sDic.getText('common-coins')}}"
                        name="moeda" ngModel required #moeda="ngModel" [ngModel]='0'
                        [ngClass]="{'is-invalid':f.submitted && moeda?.invalid}" maxlength="10"
                        (ngModelChange)="cutSize(10,moeda)">
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-12">
                    <label for="">{{sDic.getText('common-description')}}</label>
                    <textarea class="form-control" name="descricao" #descricao="ngModel" ngModel [ngModel]="" rows="5"
                        [ngClass]="{'is-invalid':f.submitted && descricao?.invalid}"
                        placeholder="{{sDic.getText('common-description')}}"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-4">
                    <label for="">{{sDic.getText('common-state')}}</label>
                    <select name="estado" #estado="ngModel" ngModel [ngModel]="null" required class="form-control"
                        [ngClass]="{'is-invalid':f.submitted && estado?.invalid}" (change)="onStateChange($event)">
                        <option [ngValue]="null" disabled>{{sDic.getText('common-choose')}}</option>
                        <option [value]="item?.id" *ngFor="let item of dataExtra?.estados">{{item?.nome}}</option>
                    </select>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label for="">{{sDic.getText('common-city')}}</label>
                    <select name="cidade" #cidade="ngModel" ngModel [ngModel]="null" required class="form-control"
                        [ngClass]="{'is-invalid':f.submitted && cidade?.invalid}" (change)='onCityChange($event)'>
                        <option [ngValue]="null" disabled>{{sDic.getText('common-choose')}}</option>
                        <option [value]="item?.id" *ngFor="let item of cities">{{item?.nome}}</option>
                    </select>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label for="">{{sDic.getText('common-building')}}</label>
                    <select name="predio" #predio="ngModel" ngModel [ngModel]="null" required class="form-control"
                        [ngClass]="{'is-invalid':f.submitted && predio?.invalid}">
                        <option [ngValue]="null" disabled>{{sDic.getText('common-choose')}}</option>
                        <option [value]="item?.id" *ngFor="let item of buildings">{{item?.nome}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-3">
                    <label for="img-upload" class="btn btn-primary btn-block pointer img-upload">
                        <ng-container *ngIf="!imagem?.value; else noImage">
                            {{sDic.getText("common-choose-image")}}
                        </ng-container>
                        <ng-template #noImage>
                            {{sDic.getText("common-change-image")}}

                        </ng-template>
                    </label>
                    <p *ngIf="f.submitted && imagem?.invalid" class="text-danger text-center font-tbold     ">
                        {{sDic.getText("common-image-necessary")}}

                    </p>
                    <input type="file" name="imagem" id="img-upload" ngModel #imagem="ngModel" hidden
                        (change)="onImageUpload($event,imagem)" required />
                </div>
                <div class="form-group col-12 col-md">
                    <img [src]="imgProduct" *ngIf="imgProduct" class="img-product" />
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-3 col-12">
                    <button class="btn btn-block btn-danger" type="button" routerLink="/products">
                        {{sDic.getText('common-back')}}
                    </button>
                </div>
                <div class="form-group col-md-3 col-12">
                    <button class="btn btn-block btn-primary">
                        {{sDic.getText('common-send')}}
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>