// Here you can add other styles

html,
body {
  scroll-behavior: smooth;
}

* {
  font-family: "Telefonica";
}

input[type="checkbox"] {
  opacity: 1 !important;
  position: initial !important;
}
.pointer {
  cursor: pointer !important;
}

main.main {
  & > .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
.avatar-icon + button {
  display: none !important;
}
.avatar-icon + button + button {
  display: none !important;
}

.default-list {
  .pagination-sm {
    justify-content: center;
  }
  .default-table {
    .icon-green,
    .icon-check-super,
    .icon-check-published {
      color: $green;
    }
    .actions {
      min-width: 70px;
      .icon-remove {
        color: $red;
      }
      .icon-edit {
        color: $blue;
      }
    }
  }
  .filter-list {
    & > * {
      margin-bottom: 0.25em;
    }
  }
  .icon-add {
    color: $green;
  }
}
.default-form {
  .form-group {
    & > label {
      font-family: "Telefonica-Bold";
    }
  }
}
.ngx-toastr {
  -webkit-animation: toast-animation 1s ease-in-out forwards;
  animation: toast-animation 1s ease-in-out forwards;
}

@-webkit-keyframes toast-animation {
  0% {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }
  100% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}

@keyframes toast-animation {
  0% {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }
  100% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
