@font-face {
  font-family: "Telefonica";
  src: url("/assets/fonts/Telefonica-Regular.ttf");
}
@font-face {
  font-family: "Telefonica-Regularitalic";
  src: url("/assets/fonts/Telefonica-RegularItalic.ttf");
}

@font-face {
  font-family: "Telefonica-Extralight";
  src: url("/assets/fonts/Telefonica-ExtraLight.ttf");
}

@font-face {
  font-family: "Telefonica-Light";
  src: url("/assets/fonts/Telefonica-Light.ttf");
}

@font-face {
  font-family: "Telefonica-Bold";
  src: url("/assets/fonts/Telefonica-Bold.ttf");
}

.font-t {
  font-family: "Telefonica";
}
.font-titalic {
  font-family: "Telefonica-Regularitalic";
}
.font-textralight {
  font-family: "Telefonica-Extralight";
}
.font-textralight {
  font-family: "Telefonica-Extralight";
}
.font-tlight {
  font-family: "Telefonica-Light";
}
.font-tbold {
  font-family: "Telefonica-Bold";
}
