<div class="row employee">
    <div class="col-12">
        <h3>
            <ng-container *ngIf="idFunc; else noIdFunc">{{sDic.getText('employees-edit')}}</ng-container>
            <ng-template #noIdFunc>
                {{sDic.getText('employees-add')}}
            </ng-template>
        </h3>
        <h5 class="font-textralight" *ngIf="employeesExtra === undefined">
            {{sDic.getText('common-data-not-loaded')}}
        </h5>
    </div>
    <div class="col-12 form-wrapper" *ngIf="employeesExtra !== undefined">

        <form #f="ngForm" (submit)="sendForm(f)">
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-name')}}</label>
                    <input type="text" class="form-control" placeholder="{{sDic.getText('common-name')}}" name="nome"
                        ngModel required #nome="ngModel" [ngClass]="{'is-invalid':f.submitted && nome?.invalid}">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-lastname')}}</label>
                    <input type="text" class="form-control" placeholder="{{sDic.getText('common-lastname')}}"
                        name="sobrenome" ngModel required #sobrenome="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && sobrenome?.invalid}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-email')}}</label>
                    <input type="text" class="form-control" placeholder="{{sDic.getText('common-email')}}" name="email"
                        ngModel required email #email="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && email?.invalid}">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-password')}}</label>
                    <input type="password" class="form-control" placeholder="{{sDic.getText('common-password')}}"
                        name="senha" ngModel required #senha="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && senha?.invalid}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-company')}}</label>
                    <select class="form-control" name="id_emp" ngModel>
                        <option [ngValue]="null">{{sDic.getText('common-company')}}</option>
                        <option [ngValue]="empresa?.id_emp" *ngFor="let empresa of employeesExtra?.empresas">
                            {{empresa?.nome}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-voluntary')}}</label>
                    <select class="form-control" name="voluntario" ngModel #voluntario="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && voluntario?.invalid}" >
                        <option [ngValue]="null" disabled>{{sDic.getText('common-voluntary')}}</option>
                        <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                        <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-gender')}}</label>
                    <select class="form-control" name="genero" ngModel #genero="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && genero?.invalid}" >
                        <option [ngValue]="null" disabled>{{sDic.getText('common-gender')}}</option>
                        <option [ngValue]="'f'">{{sDic.getText('common-female')}}</option>
                        <option [ngValue]="'m'">{{sDic.getText('common-male')}}</option>
                    </select>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-birthdate')}}</label>
                    <input type="text" placeholder="{{sDic.getText('common-birthdate')}}" class="form-control"
                        bsDatepicker [bsConfig]="bsConfig" name="dt_nasc" #dt_nasc="ngModel" ngModel
                        [ngClass]="{'is-invalid':f.submitted && dt_nasc?.invalid}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-state')}}</label>
                    <select class="form-control" name="id_estado" ngModel #id_estado="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && id_estado?.invalid}" 
                        (change)="stateChange(id_estado?.value)">
                        <option [ngValue]="null" disabled>{{sDic.getText('common-choose')}}</option>
                        <option [ngValue]="estado?.id" *ngFor="let estado of employeesExtra?.estados">{{estado?.nome}}
                        </option>
                    </select>
                    <input type="text" name="estado" ngModel hidden />
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-city')}}</label>
                    <select class="form-control" name="id_cidade" ngModel #id_cidade="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && id_cidade?.invalid}" 
                        (change)="cityChange(id_cidade?.value)">
                        <option [ngValue]="null" disabled>{{sDic.getText('common-choose')}}</option>
                        <option [ngValue]="cidade?.id" *ngFor="let cidade of cities">{{cidade?.nome}}</option>
                    </select>
                    <input type="text" name="cidade" ngModel hidden />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-pcd')}}</label>
                    <select class="form-control" name="id_deficiencia" ngModel #id_deficiencia="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && id_deficiencia?.invalid}"
                        (change)="pcdChange(id_deficiencia)">
                        <option [ngValue]="null" selected>{{sDic.getText('common-no')}}</option>
                        <option [ngValue]="pcd?.id" *ngFor="let pcd of employeesExtra?.pcd">{{pcd?.nome}}</option>
                    </select>
                    <input type="text" name="deficiencia" ngModel hidden>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-pne')}}</label>
                    <select class="form-control" name="id_pne" ngModel #id_pne="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && id_pne?.invalid}" (change)="pneChange(id_pne)">
                        <option [ngValue]="null" selected>{{sDic.getText('common-no')}}</option>
                        <option [ngValue]="pne?.id" *ngFor="let pne of employeesExtra?.pne">{{pne?.nome}}</option>
                    </select>
                    <input type="text" name="pne" ngModel hidden>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="">{{sDic.getText('common-kind')}}</label>
                    <select class="form-control" name="tipo" ngModel #tipo="ngModel"
                        [ngClass]="{'is-invalid':f.submitted && tipo?.invalid}">
                        <option [ngValue]="null" selected>{{sDic.getText('common-choose')}}</option>
                        <option [ngValue]="1">{{sDic.getText('common-employee')}}</option>
                        <option [ngValue]="2">{{sDic.getText('common-relative')}}</option>
                    </select>

                </div>


            </div>

            <div class="form-row">
                <div class="form-extra">
                    <input type="text" name="json_info" ngModel [ngModel]='null' hidden />
                </div>
                <div class="form-group col-md-3 col-6">
                    <button class="btn btn-danger btn-block" routerLink="/employees" type="button">
                        {{sDic.getText('common-back')}}
                    </button>
                </div>
                <div class="form-group col-md-3 col-6">
                    <button class="btn btn-primary btn-block">
                        {{sDic.getText('common-send')}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>