<div class="row">
    <div class="col-12">
        <h4>
            {{sDic.getText('mission-real-view')}}
            <!-- <ng-container *ngIf="idData; else noIdData">
                {{sDic.getText('faq-edit')}}
            </ng-container>
            <ng-template #noIdData>
                {{sDic.getText('faq-add')}}
            </ng-template> -->
        </h4>
        <h5 class="font-textralight" *ngIf="dataExtra === undefined">
            {{sDic.getText('common-data-not-loaded')}}
        </h5>
    </div>
    <div class="col-12" *ngIf="dataExtra !== undefined">
        <form #f="ngForm" class="default-form">
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-employee')}}</label>
                    <div>
                        {{data?.missao_rel?.funcionario}}
                    </div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-mission')}}</label>
                    <div>
                        {{data?.missao_rel?.missao}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-volunteers')}}</label>
                    <div [innerHTML]="data?.missao_rel?.voluntarios"></div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-beneficiary')}}</label>
                    <div [innerHTML]="data?.missao_rel?.beneficiado"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-hour')}}</label>
                    <div>
                        <ng-container *ngIf="sUtils.isDate(data?.missao_rel?.horas); else notDate">
                            {{data?.missao_rel?.horas | dateTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}
                        </ng-container>
                        <ng-template #notDate>
                            {{sDic.getText('common-none')}}
                        </ng-template>
                    </div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-people')}}</label>
                    <div [innerHTML]="data?.missao_rel?.pessoas"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 col-12">
                    <label for="">{{sDic.getText('common-description')}}</label>
                    <div [innerHTML]="data?.missao_rel?.descricao"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-status')}}</label>
                    <div>
                        <ng-container *ngIf="data?.missao_rel?.status == 2">{{sDic.getText('mission-real-pending')}}
                        </ng-container>
                        <ng-container *ngIf="data?.missao_rel?.status == 1">{{sDic.getText('mission-real-aproved')}}
                        </ng-container>
                        <ng-container *ngIf="data?.missao_rel?.status == 0">{{sDic.getText('mission-real-rejected')}}
                        </ng-container>
                    </div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('mission-real-date-revision')}}</label>
                    <div>
                        <!-- {{data?.missao_rel?.dt_rev}} -->
                        <ng-container *ngIf="sUtils.isDate(data?.missao_rel?.dt_rev); else notDate2">
                            {{data?.missao_rel?.dt_rev | dateTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}
                        </ng-container>
                        <ng-template #notDate2>
                            {{sDic.getText('common-none')}}
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="data?.missao_rel?.status != 1">
                <div class="col-12">
                    <div class="form-row" *ngIf="false">
                        <div class="form-group col-md-12 col-12">
                            <label for="">{{sDic.getText('mission-real-reason')}}</label>
                            <select class="form-control" name="just" ngModel #just="ngModel" [ngModel]="null"
                                [ngClass]="{'is-invalid':f.submitted && just?.invalid}">
                                <option [ngValue]="null">{{sDic.getText('common-none')}}</option>
                                <option [value]="item?.id_mod" *ngFor="let item of data?.justificativa">{{item?.titulo}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="false">
                        <div class="form-group col-md-12 col-12">
                            <label for="">{{sDic.getText('mission-real-reason')}}</label>
                            <textarea rows="7" name="motivo" class="form-control" ngModel #motivo="ngModel"
                                [ngModel]="null" [ngClass]="{'is-invalid':f.submitted && motivo?.invalid}"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12 col-12">
                            <label for="" class="mb-0">{{sDic.getText('common-action')}}</label>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <button class="btn btn-danger btn-block" type="submit" (click)="onSubmit(f,$event,0)">
                                {{sDic.getText('mission-real-reject') | uppercase}}
                            </button>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <button class="btn btn-success btn-block" type="submit" (click)="onSubmit(f,$event,1)">
                                {{sDic.getText('mission-real-aprove') | uppercase}}

                            </button>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <button class="btn btn-warning btn-block" type="submit" (click)="onSubmit(f,$event,2)">
                                {{sDic.getText('mission-real-leave-pending') | uppercase}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-category')}}</label>
                    <select name="id_cat" class="form-control" ngModel #id_cat="ngModel" [ngModel]="null"
                        [ngClass]="{'is-invalid':f.submitted && id_cat?.invalid}" required>
                        <option [ngValue]="null" disabled>{{sDic.getText('common-choose')}}</option>
                        <option [value]="item?.id_cat" *ngFor="let item of dataExtra">{{item?.nome}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-published')}}</label>
                    <select name="publicado" class="form-control" ngModel #publicado="ngModel" [ngModel]="1"
                        [ngClass]="{'is-invalid':f.submitted && publicado?.invalid}" required>
                        <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                        <option [ngValue]="0">{{sDic.getText('common-no')}}</option>

                    </select>
                </div>
            </div> -->

            <div class="form-row mt-5">
                <div class="form-group col-md-2 col-12">
                    <button class="btn btn-block btn-info" type="button" routerLink="/realized">
                        {{sDic.getText('common-back')}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>