<div class="row">
    <div class="col-12">
        <h4>
            <ng-container *ngIf="idData; else noIdData">
                {{sDic.getText('faq-edit')}}
            </ng-container>
            <ng-template #noIdData>
                {{sDic.getText('faq-add')}}
            </ng-template>
        </h4>
        <h5 class="font-textralight" *ngIf="dataExtra === undefined">
            {{sDic.getText('common-data-not-loaded')}}
        </h5>
    </div>
    <div class="col-12" *ngIf="dataExtra !== undefined">
        <form #f="ngForm" (submit)="onSubmit(f,$event); " class="default-form">
            <div class="form-row">
                <!-- <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-name')}}</label>
                    <input type="text" class="form-control" name="nome" ngModel #nome="ngModel" required
                        [ngClass]="{'is-invalid':f.submitted && nome?.invalid}"
                        placeholder="{{sDic.getText('common-name')}}" />
                </div> -->
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-category')}}</label>
                    <select name="id_cat" class="form-control" ngModel #id_cat="ngModel" [ngModel]="null"
                        [ngClass]="{'is-invalid':f.submitted && id_cat?.invalid}" required>
                        <option [ngValue]="null" disabled>{{sDic.getText('common-choose')}}</option>
                        <option [value]="item?.id_cat" *ngFor="let item of dataExtra">{{item?.nome}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-published')}}</label>
                    <select name="publicado" class="form-control" ngModel #publicado="ngModel" [ngModel]="1"
                        [ngClass]="{'is-invalid':f.submitted && publicado?.invalid}" required>
                        <option [ngValue]="1">{{sDic.getText('common-yes')}}</option>
                        <option [ngValue]="0">{{sDic.getText('common-no')}}</option>
                        <!-- <option [value]="item?.publicado" *ngFor="let item of dataExtra">{{item?.nome}}</option> -->
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('common-question')}}</label>
                    <input type="text" class="form-control" name="pergunta" ngModel #pergunta="ngModel" required
                        [ngClass]="{'is-invalid':f.submitted && pergunta?.invalid}"
                        placeholder="{{sDic.getText('common-question')}}" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="">{{sDic.getText('common-answer')}}</label>
                    <textarea name="resposta" rows="5" class="form-control" name="resposta" ngModel #resposta="ngModel"
                        required [ngClass]="{'is-invalid':f.submitted && resposta?.invalid}"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('faq-published-on')}}</label>
                    <input type="text" placeholder="{{sDic.getText('faq-published-on')}}" class="form-control"
                        bsDatepicker placement="left" [bsConfig]="bsConfig" name="publicado_em" #publicado_em="ngModel"
                        ngModel [ngModel]="null" required
                        [ngClass]="{'is-invalid':f.submitted && publicado_em?.invalid}">
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="">{{sDic.getText('faq-published-until')}} ({{sDic.getText('common-optional')}}) </label>
                    <input type="text" placeholder="{{sDic.getText('faq-published-until')}}" class="form-control"
                        bsDatepicker placement="left" [bsConfig]="bsConfig" name="publicado_ate"
                        #publicado_ate="ngModel" ngModel>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 col-12">
                    <button class="btn btn-block btn-danger" type="button" routerLink="/faq">
                        {{sDic.getText('common-back')}}
                    </button>
                </div>
                <div class="form-group col-md-3 col-12">
                    <button class="btn btn-block btn-primary">
                        {{sDic.getText('common-send')}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>